<!DOCTYPE html>
<html lang="uk">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Фільтровані товари</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
<h1>Фільтровані товари</h1>
</header>

<section>
<h2>Результати фільтрації</h2>
<div class="product-list">
{% for product in products %}
<div class="product">
<h3>{{ product.title }}</h3>
<p>Категорія: {{ product.class_name }}</p>
<p>Середній рейтинг: {{ "%.2f"|format(product.average_rating) }}</p>
</div>
{% endfor %}
</div>
</section>
<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'91dcc4b38c980273',t:'MTc0MTU0NjMzNS4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script></body>
</html>